.link-info {
    color: #fff;
    font-family: 'Inter', sans-serif;    
    font-size: 18px;
    background-color: #2F82FF;
    border-radius: 100px;
    padding: 1rem;
    margin-inline: 8rem;
}

@media (max-width: 1010px){
    .link-info {
        font-size: 10px;
    }
}

@media (max-width: 590px){
    .link-info {
        font-size: 8px;
    }
}
@media (max-width: 520px){
    .link-info {
        font-size: 6px;
    }
}

@media (max-width: 460px){
    .link-info {
        font-size: 4px;
    }
}